.burgerConstructor {
  width: 664px;
  height: calc(100% - 150px);
}

.burgerConstructorTitle {
  composes: visually-hidden from "../../assets/css/common.css";
}

.ingredientsListWrapper {
  height: 80%;
}

.ingredientsListFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ingredientsListPrice {
  display: flex;
  align-items: center;
}
