.ingredientList {
  composes: custom-scrollbar from "../../assets/css/common.css";
  height: 80%;
  overflow-y: scroll;
}

.ingredientTypesWrapper {

}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
