.modal {
  width: 720px;
  background-color: var(--modal-bg-color);
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  z-index: 2;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.modalHeaderWithoutTitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
}



.modalCloseBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
